<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'uniprotsearch/style.css' %}">
        <script src="{% static 'uniprotsearch/script.js' %}"></script>   
    </head>
    <body>
        <div class="child-box form-control">
            <div class="title main-title">About</div>
            This site is a search engine that identifies proteins based on their mass spectrum. 
            The algorithm is based on the Wasserstein distance.
        </div>
    </body>
</html>